@model IEnumerable<IT_Stat.Models.Fact>

@{
    ViewData["Title"] = "Выполненные заявки";
}

<h1>Выполненные заявки с @ViewBag.Start по @ViewBag.End</h1>

<table class="table" border="2">
    <thead>
        <tr>
            <th>ФИО </th>
            <th>Номер </th>
            <th>Дата решения </th>
            <th>Story Points </th>
            <th>Story Points (заявки) </th>
            <th>Передано в Jira </th>
            <th>Передано улучшений </th>
            <th>% переданных ошибок </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.FIO) </td>
            <td>@Html.DisplayFor(modelItem => item.NoDoc) </td>
            <td>@Html.DisplayFor(modelItem => item.ResolvedTime) </td>
            <td>@Html.DisplayFor(modelItem => item.StoryPoints) </td>
            <td>@Html.DisplayFor(modelItem => item.StoryPointsRequest) </td>
            <td>@Html.DisplayFor(modelItem => item.ToJira) </td>
            <td>@Html.DisplayFor(modelItem => item.Improve) </td>
            <td>@Html.DisplayFor(modelItem => item.ErrorToJira) </td>
        </tr>
        }
    </tbody>
</table>